In [1]:
#Import Depencies
import pandas as pd

In [2]:
#Load Datasets
popn_df = pd.read_csv("Resource/County_Popn.csv")
ownership_df = pd.read_csv("Resource/Home_Ownership_Rate.csv")
permits_df = pd.read_csv("Resource/Building_Permits.csv")
income_df = pd.read_csv("Resource/Median_Income.csv")

In [3]:
#visualize population data
popn_df.head()

    CountyID County State  Year  Population
0  AdaID2010    Ada    ID  2010      393354
1  AdaID2011    Ada    ID  2011      401262
2  AdaID2012    Ada    ID  2012      408862
3  AdaID2013    Ada    ID  2013      415951
4  AdaID2014    Ada    ID  2014      425471

In [4]:
#visualize home ownership rate data
ownership_df

     Year        CountyID State    County  Home Ownership (%)
0    2009       AdaID2009    ID       Ada           73.167951
1    2010       AdaID2010    ID       Ada           72.448222
2    2011       AdaID2011    ID       Ada           71.267323
3    2012       AdaID2012    ID       Ada           69.819289
4    2013       AdaID2013    ID       Ada           69.484129
..    ...             ...   ...       ...                 ...
424  2015  WilliamsND2015    ND  Williams           67.352931
425  2016  WilliamsND2016    ND  Williams           68.388783
426  2017  WilliamsND2017    ND  Williams           65.317185
427  2018  WilliamsND2018    ND  Williams           60.812629
428  2019  WilliamsND2019    ND  Williams           57.535750

[429 rows x 5 columns]

In [5]:
permits_df.head()

   Year   CountyID State County  Building Permits
0  1990  AdaID1990    ID    Ada              2570
1  1991  AdaID1991    ID    Ada              2601
2  1992  AdaID1992    ID    Ada              3735
3  1993  AdaID1993    ID    Ada              4940
4  1994  AdaID1994    ID    Ada              5266

In [6]:
income_df.head()

   Year   CountyID State County Median Income
0  1989  AdaID1989    ID    Ada         30093
1  1990  AdaID1990    ID    Ada             .
2  1991  AdaID1991    ID    Ada             .
3  1992  AdaID1992    ID    Ada             .
4  1993  AdaID1993    ID    Ada         36652

In [7]:
# drop the duplicate columns before merging
popn_df = popn_df.drop(columns=["County", "State", "Year"])

#  first merge population to homeownership rate
df1 = pd.merge(ownership_df, popn_df, on="CountyID", how="inner")

df1

     Year        CountyID State    County  Home Ownership (%)  Population
0    2010       AdaID2010    ID       Ada           72.448222      393354
1    2011       AdaID2011    ID       Ada           71.267323      401262
2    2012       AdaID2012    ID       Ada           69.819289      408862
3    2013       AdaID2013    ID       Ada           69.484129      415951
4    2014       AdaID2014    ID       Ada           68.500504      425471
..    ...             ...   ...       ...                 ...         ...
365  2015  WilliamsND2015    ND  Williams           67.352931       35301
366  2016  WilliamsND2016    ND  Williams           68.388783       34213
367  2017  WilliamsND2017    ND  Williams           65.317185       33467
368  2018  WilliamsND2018    ND  Williams           60.812629       35469
369  2019  WilliamsND2019    ND  Williams           57.535750       37589

[370 rows x 6 columns]

In [8]:
# drop the duplicate columns before merging
permits_df = permits_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the permits data
df2 = pd.merge(df1, permits_df, on="CountyID", how="inner")

df2

,Year,CountyID,State,County,Home Ownership (%),Population,Building Permits
0,2010,AdaID2010,ID,Ada,72.448222,393354,1285
1,2011,AdaID2011,ID,Ada,71.267323,401262,1453
2,2012,AdaID2012,ID,Ada,69.819289,408862,2631
3,2013,AdaID2013,ID,Ada,69.484129,415951,3281
4,2014,AdaID2014,ID,Ada,68.500504,425471,3968
...,...,...,...,...,...,...,...
365,2015,WilliamsND2015,ND,Williams,67.352931,35301,803
366,2016,WilliamsND2016,ND,Williams,68.388783,34213,200
367,2017,WilliamsND2017,ND,Williams,65.317185,33467,57
368,2018,WilliamsND2018,ND,Williams,60.812629,35469,88
369,2019,WilliamsND2019,ND,Williams,57.535750,37589,125

In [9]:
# drop the duplicate columns before merging
income_df = income_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the income data
df3 = pd.merge(df2, income_df, on="CountyID", how="inner")

df3.head()

,Year,CountyID,State,County,Home Ownership (%),Population,Building Permits,Median Income
0,2010,AdaID2010,ID,Ada,72.448222,393354,1285,50909
1,2011,AdaID2011,ID,Ada,71.267323,401262,1453,50701
2,2012,AdaID2012,ID,Ada,69.819289,408862,2631,54337
3,2013,AdaID2013,ID,Ada,69.484129,415951,3281,53420
4,2014,AdaID2014,ID,Ada,68.500504,425471,3968,57908

In [10]:
df3.tail()

,Year,CountyID,State,County,Home Ownership (%),Population,Building Permits,Median Income
355,2015,WilliamsND2015,ND,Williams,67.352931,35301,803,89860
356,2016,WilliamsND2016,ND,Williams,68.388783,34213,200,81719
357,2017,WilliamsND2017,ND,Williams,65.317185,33467,57,80161
358,2018,WilliamsND2018,ND,Williams,60.812629,35469,88,79354
359,2019,WilliamsND2019,ND,Williams,57.535750,37589,125,84606

In [11]:
# Check count
df3.count()

Year                  360
CountyID              360
State                 360
County                360
Home Ownership (%)    360
Population            360
Building Permits      360
Median Income         360
dtype: int64

In [12]:
# Check datatypes
df3.dtypes

Year                    int64
CountyID               object
State                  object
County                 object
Home Ownership (%)    float64
Population              int64
Building Permits        int64
Median Income          object
dtype: object

In [13]:
# convert the median income data to numeric data
df3["Median Income"] = pd.to_numeric(df3["Median Income"])
df3.dtypes

Year                    int64
CountyID               object
State                  object
County                 object
Home Ownership (%)    float64
Population              int64
Building Permits        int64
Median Income           int64
dtype: object

In [14]:
print(f"Below are the counties I currently have data on")
print(f"------------------------------------------------------")
df3.County.unique()

Below are the counties I currently have data on
------------------------------------------------------

array(['Ada', 'Austin', 'Bernalillo', 'Bexar', 'Clackamas', 'ClarkNV',
       'ClarkWA', 'Comal', 'Cook', 'Dallas', 'Denver', 'ElPaso', 'Harris',
       'Kendall', 'King', 'LosAngeles', 'Maricopa', 'MiamiDade',
       'Multnomah', 'NewYork', 'Orange', 'Philadelphia', 'Pierce', 'Pima',
       'Riverside', 'SaltLake', 'SanDiego', 'Snohomish', 'Sumter',
       'Tarrant', 'Travis', 'Utah', 'Wasatch', 'Washington', 'Washoe',
       'Williams'], dtype=object)

In [15]:
means = df3[["Population", "Median Income", "Home Ownership (%)", "Building Permits", "County"]].groupby(["County"]).mean()
means

              Population  Median Income  Home Ownership (%)  Building Permits
County
Ada             432914.7        58786.8           70.162929            4095.2
Austin           29199.5        56394.2           75.498730              24.5
Bernalillo      674939.3        49015.4           65.669691            1338.0
Bexar          1871048.2        51704.7           63.207634            6346.7
Clackamas       397259.1        69774.3           72.515639            1592.2
ClarkNV        2088408.1        53424.7           54.794043           10080.7
ClarkWA         455115.1        64945.4           67.385497            2766.0
Comal           128634.2        69698.2           76.233580            2073.7
Cook           5215707.1        57426.5           61.166096            7005.4
Dallas         2527585.4        52423.7           55.181565           14945.9
Denver          670090.6        57690.5           53.204293            6279.9
ElPaso          672354.6        60759.8           65.846269            3842.9
Harris         4459265.7        55305.0           59.268408           28194.7
Kendall          39790.1        80067.4           76.068506             306.9
King           2103370.6        80560.6           62.360672           14201.3
LosAngeles    10007550.7        59386.4           49.416158           16995.7
Maricopa       4140303.1        56949.4           62.701356           19346.8
MiamiDade      2636915.9        45289.1           57.448106            8313.6
Multnomah       781521.0        58159.8           58.277892            4328.9
NewYork        1623910.5        75676.2           22.244906            4597.1
Orange         3121421.7        79533.6           58.047737            8158.9
Philadelphia   1563971.9        39723.7           56.602620            2953.4
Pierce          845731.9        63452.7           63.943071            3506.5
Pima           1010044.3        47862.5           64.174930            3186.8
Riverside      2335696.3        59099.4           65.950540            6392.7
SaltLake       1098216.9        65473.4           70.465530            5817.3
SanDiego       3245371.5        68283.0           54.395397            7883.4
Snohomish       766505.5        74681.3           68.985621            3594.4
Sumter          113827.5        52923.3           88.067927            2415.9
Tarrant        1965530.4        59992.5           64.770019           10123.0
Travis         1159763.2        64969.4           56.072487           13421.9
Utah            572974.5        65191.0           71.114670            4550.3
Wasatch          28633.5        71866.5           73.412060             438.3
Washington      568611.5        71185.4           63.407008            2563.1
Washoe          442538.8        56921.0           59.281931            2652.0
Williams         31146.6        78973.7           69.065198             912.1

In [16]:
count = df3[["Population", "Median Income", "Home Ownership (%)", "Building Permits", "County"]].groupby(["County"]).count()
count

              Population  Median Income  Home Ownership (%)  Building Permits
County
Ada                   10             10                  10                10
Austin                10             10                  10                10
Bernalillo            10             10                  10                10
Bexar                 10             10                  10                10
Clackamas             10             10                  10                10
ClarkNV               10             10                  10                10
ClarkWA               10             10                  10                10
Comal                 10             10                  10                10
Cook                  10             10                  10                10
Dallas                10             10                  10                10
Denver                10             10                  10                10
ElPaso                10             10                  10                10
Harris                10             10                  10                10
Kendall               10             10                  10                10
King                  10             10                  10                10
LosAngeles            10             10                  10                10
Maricopa              10             10                  10                10
MiamiDade             10             10                  10                10
Multnomah             10             10                  10                10
NewYork               10             10                  10                10
Orange                10             10                  10                10
Philadelphia          10             10                  10                10
Pierce                10             10                  10                10
Pima                  10             10                  10                10
Riverside             10             10                  10                10
SaltLake              10             10                  10                10
SanDiego              10             10                  10                10
Snohomish             10             10                  10                10
Sumter                10             10                  10                10
Tarrant               10             10                  10                10
Travis                10             10                  10                10
Utah                  10             10                  10                10
Wasatch               10             10                  10                10
Washington            10             10                  10                10
Washoe                10             10                  10                10
Williams              10             10                  10                10