In [90]:
#Import Depencies
import pandas as pd

In [91]:
#Load Datasets
popn_df = pd.read_csv("Resource/County_Popn.csv")
ownership_df = pd.read_csv("Resource/Home_Ownership_Rate.csv")
permits_df = pd.read_csv("Resource/Building_Permits.csv")
income_df = pd.read_csv("Resource/Median_Income.csv")

In [92]:
#visualize population data
popn_df.head()

         CountyID      County State  Year  Population
0  LosAngeles2010  LosAngeles    CA  2010     9823246
1  LosAngeles2011  LosAngeles    CA  2011     9876482
2  LosAngeles2012  LosAngeles    CA  2012     9935375
3  LosAngeles2013  LosAngeles    CA  2013     9992484
4  LosAngeles2014  LosAngeles    CA  2014    10040072

In [93]:
#visualize home ownership rate data
ownership_df

,Year,CountyID,State,County,Home Ownwership (%),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2009,SanBernadino2009,CA,SanBernadino,66.202910,NaN,NaN,NaN,NaN
1,2010,SanBernadino2010,CA,SanBernadino,65.781009,NaN,NaN,NaN,NaN
2,2011,SanBernadino2011,CA,SanBernadino,64.507581,NaN,NaN,NaN,NaN
3,2012,SanBernadino2012,CA,SanBernadino,63.054234,NaN,NaN,NaN,NaN
4,2013,SanBernadino2013,CA,SanBernadino,62.013965,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
424,2015,Clark2015,WA,Clark,65.333318,NaN,NaN,NaN,NaN
425,2016,Clark2016,WA,Clark,66.002403,NaN,NaN,NaN,NaN
426,2017,Clark2017,WA,Clark,67.120738,NaN,NaN,NaN,NaN
427,2018,Clark2018,WA,Clark,67.816583,NaN,NaN,NaN,NaN
428,2019,Clark2019,WA,Clark,68.346262,NaN,NaN,NaN,NaN

In [94]:
# drop NaN columns in home ownership data
ownership_df = ownership_df.drop(columns=["Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8"])
ownership_df.head(15)

    Year          CountyID State        County  Home Ownwership (%)
0   2009  SanBernadino2009    CA  SanBernadino            66.202910
1   2010  SanBernadino2010    CA  SanBernadino            65.781009
2   2011  SanBernadino2011    CA  SanBernadino            64.507581
3   2012  SanBernadino2012    CA  SanBernadino            63.054234
4   2013  SanBernadino2013    CA  SanBernadino            62.013965
5   2014  SanBernadino2014    CA  SanBernadino            60.774173
6   2015  SanBernadino2015    CA  SanBernadino            59.681057
7   2016  SanBernadino2016    CA  SanBernadino            59.115612
8   2017  SanBernadino2017    CA  SanBernadino            59.352297
9   2018  SanBernadino2018    CA  SanBernadino            59.317247
10  2019  SanBernadino2019    CA  SanBernadino            60.020610
11  2009     Riverside2009    CA     Riverside            70.608002
12  2010     Riverside2010    CA     Riverside            69.838175
13  2011     Riverside2011    CA     Riverside            68.803423
14  2012     Riverside2012    CA     Riverside            66.894993

In [95]:
permits_df.head()

   Year    CountyID State  County  Building Permits
0  1990  Sumter1990    FL  Sumter               156
1  1991  Sumter1991    FL  Sumter               242
2  1992  Sumter1992    FL  Sumter               143
3  1993  Sumter1993    FL  Sumter               497
4  1994  Sumter1994    FL  Sumter               703

In [60]:
income_df.head()

   Year      CountyID State    County Median Income
0  1989  Maricopa1989    AZ  Maricopa         30746
1  1990  Maricopa1990    AZ  Maricopa             .
2  1991  Maricopa1991    AZ  Maricopa             .
3  1992  Maricopa1992    AZ  Maricopa             .
4  1993  Maricopa1993    AZ  Maricopa         33916

In [61]:
# drop the duplicate columns before merging
popn_df = popn_df.drop(columns=["County", "State", "Year"])

#  first merge population to homeownership rate
df1 = pd.merge(ownership_df, popn_df, on="CountyID", how="inner")

df1

     Year       CountyID State     County  Home Ownwership (%)  Population
0    2010  Riverside2010    CA  Riverside            69.838175     2201576
1    2011  Riverside2011    CA  Riverside            68.803423     2234070
2    2012  Riverside2012    CA  Riverside            66.894993     2261204
3    2013  Riverside2013    CA  Riverside            65.615337     2286755
4    2014  Riverside2014    CA  Riverside            64.647449     2316162
..    ...            ...   ...        ...                  ...         ...
395  2015     Denver2015    CO     Denver            51.973437      683285
396  2016     Denver2016    CO     Denver            51.905958      696159
397  2017     Denver2017    CO     Denver            52.950281      704961
398  2018     Denver2018    CO     Denver            52.867510      716265
399  2019     Denver2019    CO     Denver            53.749423      727211

[400 rows x 6 columns]

In [62]:
# drop the duplicate columns before merging
permits_df = permits_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the permits data
df2 = pd.merge(df1, permits_df, on="CountyID", how="inner")

df2

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761
...,...,...,...,...,...,...,...
435,2015,Denver2015,CO,Denver,51.973437,683285,7901
436,2016,Denver2016,CO,Denver,51.905958,696159,7842
437,2017,Denver2017,CO,Denver,52.950281,704961,10525
438,2018,Denver2018,CO,Denver,52.867510,716265,7878
439,2019,Denver2019,CO,Denver,53.749423,727211,7330

In [63]:
# drop the duplicate columns before merging
income_df = income_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the income data
df3 = pd.merge(df2, income_df, on="CountyID", how="inner")

df3.head(50)

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits,Median Income
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547,53981
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264,52491
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052,52416
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924,53909
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761,56877
5,2015,Riverside2015,CA,Riverside,64.030052,2345816,6158,57895
6,2016,Riverside2016,CA,Riverside,63.581719,2380081,6996,59951
7,2017,Riverside2017,CA,Riverside,64.351571,2414964,8001,63776
8,2018,Riverside2018,CA,Riverside,65.390176,2445789,9232,66793
9,2019,Riverside2019,CA,Riverside,66.352504,2470546,8992,72905
10,2010,SanDiego2010,CA,SanDiego,57.037902,3103212,3494,59759
11,2011,SanDiego2011,CA,SanDiego,56.192561,3137156,5370,59290
12,2012,SanDiego2012,CA,SanDiego,55.259547,3174335,5666,60235
13,2013,SanDiego2013,CA,SanDiego,54.328894,3209768,8264,61365
14,2014,SanDiego2014,CA,SanDiego,53.711532,3248877,6875,66034
15,2015,SanDiego2015,CA,SanDiego,53.214863,3280850,9883,67053
16,2016,SanDiego2016,CA,SanDiego,52.939896,3306089,10791,70693
17,2017,SanDiego2017,CA,SanDiego,53.346262,3321237,10441,76048
18,2018,SanDiego2018,CA,SanDiego,53.681324,3333861,9834,78777
19,2019,SanDiego2019,CA,SanDiego,54.241190,3338330,8216,83576
20,2010,Orange2010,CA,Orange,61.147287,3015171,3134,70727
21,2011,Orange2011,CA,Orange,60.375504,3049271,4352,72046
22,2012,Orange2012,CA,Orange,59.077580,3078068,6082,71866
23,2013,Orange2013,CA,Orange,58.199881,3104950,10422,73827
24,2014,Orange2014,CA,Orange,57.738165,3126537,9291,76061
25,2015,Orange2015,CA,Orange,57.093316,3149280,10771,78002
26,2016,Orange2016,CA,Orange,56.511822,3164986,11523,81642
27,2017,Orange2017,CA,Orange,56.697091,3174289,9510,86031
28,2018,Orange2018,CA,Orange,56.802178,3175973,7515,89373
29,2019,Orange2019,CA,Orange,56.834547,3175692,8989,95761
30,2010,Maricopa2010,AZ,Maricopa,67.097382,3825110,6703,50424
31,2011,Maricopa2011,AZ,Maricopa,65.684535,3874996,8103,50785
32,2012,Maricopa2012,AZ,Maricopa,64.082519,3947505,14131,51442
33,2013,Maricopa2013,AZ,Maricopa,62.564173,4017723,16593,52066
34,2014,Maricopa2014,AZ,Maricopa,61.139980,4093648,18597,53929
35,2015,Maricopa2015,AZ,Maricopa,60.480687,4172905,20251,56017
36,2016,Maricopa2016,AZ,Maricopa,60.255464,4256143,25856,58742
37,2017,Maricopa2017,AZ,Maricopa,61.082972,4327184,25731,62221
38,2018,Maricopa2018,AZ,Maricopa,61.729455,4402403,26724,65234
39,2019,Maricopa2019,AZ,Maricopa,62.896397,4485414,30779,68634
40,2010,Pima2010,AZ,Pima,66.781394,981620,1938,44293
41,2011,Pima2011,AZ,Pima,65.699436,988381,2242,44102
42,2012,Pima2012,AZ,Pima,64.994674,993052,2841,44745
43,2013,Pima2013,AZ,Pima,63.805340,997127,3491,43926
44,2014,Pima2014,AZ,Pima,62.999878,1004229,3250,45871
45,2015,Pima2015,AZ,Pima,62.322566,1009103,2428,47107
46,2016,Pima2016,AZ,Pima,62.747026,1016707,2466,47644
47,2017,Pima2017,AZ,Pima,63.500868,1026391,4495,51392
48,2018,Pima2018,AZ,Pima,63.960791,1036554,4404,53395
49,2019,Pima2019,AZ,Pima,64.937329,1047279,4313,56150

In [64]:
df3.tail(50)

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits,Median Income
460,2010,Clackamas2010,OR,Clackamas,74.270565,376788,665,57960
461,2011,Clackamas2011,OR,Clackamas,73.825505,379592,1172,58496
462,2012,Clackamas2012,OR,Clackamas,72.659713,383074,1581,64231
463,2013,Clackamas2013,OR,Clackamas,71.416541,387442,1503,66514
464,2014,Clackamas2014,OR,Clackamas,70.593844,393378,1480,65555
465,2015,Clackamas2015,OR,Clackamas,70.680319,399647,1831,69523
466,2016,Clackamas2016,OR,Clackamas,71.357876,406625,2450,74460
467,2017,Clackamas2017,OR,Clackamas,72.373354,412442,1702,79404
468,2018,Clackamas2018,OR,Clackamas,73.513285,415416,1754,81061
469,2019,Clackamas2019,OR,Clackamas,74.465385,418187,1784,80539
470,2010,Multnomah2010,OR,Multnomah,60.767935,737276,1235,48018
471,2011,Multnomah2011,OR,Multnomah,59.518431,749742,1417,46989
472,2012,Multnomah2012,OR,Multnomah,58.641906,760198,2377,51580
473,2013,Multnomah2013,OR,Multnomah,57.565781,766532,3855,53624
474,2014,Multnomah2014,OR,Multnomah,56.792755,778430,5090,53519
475,2015,Multnomah2015,OR,Multnomah,56.936703,790008,4832,58764
476,2016,Multnomah2016,OR,Multnomah,57.183842,803212,5092,62292
477,2017,Multnomah2017,OR,Multnomah,58.184575,807885,7055,63587
478,2018,Multnomah2018,OR,Multnomah,58.201058,809072,6238,70756
479,2019,Multnomah2019,OR,Multnomah,58.985934,812855,6098,72469
480,2010,MiamiDade2010,FL,MiamiDade,61.063945,2506972,3203,40145
481,2011,MiamiDade2011,FL,MiamiDade,60.461996,2544531,2618,40476
482,2012,MiamiDade2012,FL,MiamiDade,59.570613,2576554,5069,41311
483,2013,MiamiDade2013,FL,MiamiDade,58.501920,2609692,10316,41840
484,2014,MiamiDade2014,FL,MiamiDade,57.897584,2634269,7731,42754
485,2015,MiamiDade2015,FL,MiamiDade,56.797567,2659839,12617,43687
486,2016,MiamiDade2016,FL,MiamiDade,55.679150,2692213,9317,45886
487,2017,MiamiDade2017,FL,MiamiDade,55.455647,2713295,10554,49758
488,2018,MiamiDade2018,FL,MiamiDade,54.871160,2714854,11703,52043
489,2019,MiamiDade2019,FL,MiamiDade,54.181484,2716940,10008,54991
490,2010,ElPaso2010,CO,ElPaso,69.268292,627031,1718,51553
491,2011,ElPaso2011,CO,ElPaso,67.992866,637305,2220,54857
492,2012,ElPaso2012,CO,ElPaso,66.428536,646003,2974,55312
493,2013,ElPaso2013,CO,ElPaso,65.278764,655209,3541,57072
494,2014,ElPaso2014,CO,ElPaso,64.550674,663129,3533,59286
495,2015,ElPaso2015,CO,ElPaso,63.980606,674001,3580,60050
496,2016,ElPaso2016,CO,ElPaso,64.252140,688277,5034,63610
497,2017,ElPaso2017,CO,ElPaso,64.795561,700099,4855,65260
498,2018,ElPaso2018,CO,ElPaso,65.782125,712089,5586,67923
499,2019,ElPaso2019,CO,ElPaso,66.133121,720403,5388,72675
500,2010,Denver2010,CO,Denver,55.779918,603359,1232,45415
501,2011,Denver2011,CO,Denver,54.613403,620530,2685,47584
502,2012,Denver2012,CO,Denver,53.002116,635163,5578,50455
503,2013,Denver2013,CO,Denver,52.807862,649391,5870,51156
504,2014,Denver2014,CO,Denver,52.393024,664582,5958,54872
505,2015,Denver2015,CO,Denver,51.973437,683285,7901,57886
506,2016,Denver2016,CO,Denver,51.905958,696159,7842,61038
507,2017,Denver2017,CO,Denver,52.950281,704961,10525,64974
508,2018,Denver2018,CO,Denver,52.867510,716265,7878,68069
509,2019,Denver2019,CO,Denver,53.749423,727211,7330,75456

In [50]:
# Check count
df3.count()

Year                   510
CountyID               510
State                  510
County                 510
Home Ownwership (%)    510
Population             510
Building Permits       510
Median Income          510
dtype: int64

In [51]:
# Check datatypes
df3.dtypes

Year                     int64
CountyID                object
State                   object
County                  object
Home Ownwership (%)    float64
Population               int64
Building Permits         int64
Median Income           object
dtype: object

In [67]:
# convert the median income data to numeric data
df3["Median Income"] = pd.to_numeric(df3["Median Income"])
df3.dtypes

Year                     int64
CountyID                object
State                   object
County                  object
Home Ownwership (%)    float64
Population               int64
Building Permits         int64
Median Income            int64
dtype: object

In [100]:
print(f"below is my list of counties: " )
print(f"----------------------------------")
print((df3["County"]).to_string(index=False))

below is my list of counties:
----------------------------------
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
    Riverside
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
     SanDiego
       Orange
       Orange
       Orange
       Orange
       Orange
       Orange
       Orange
       Orange
       Orange
       Orange
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
     Maricopa
         Pima
         Pima
         Pima
         Pima
         Pima
         Pima
         Pima
         Pima
         Pima
         Pima
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
   LosAngeles
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
         King
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
       Pierce
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
    Snohomish
          Ada
          Ada
          Ada
          Ada
          Ada
          Ada
          Ada
          Ada
          Ada
          Ada
         Cook
         Cook
         Cook
         Cook
         Cook
         Cook
         Cook
         Cook
         Cook
         Cook
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
      Tarrant
   Washington
   Washington
   Washington
   Washington
   Washington
   Washington
   Washington
   Washington
   Washington
   Washington
       Travis
       Travis
       Travis
       Travis
       Travis
       Travis
       Travis
       Travis
       Travis
       Travis
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
     SaltLake
         Utah
         Utah
         Utah
         Utah
         Utah
         Utah
         Utah
         Utah
         Utah
         Utah
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
      Wasatch
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
 Philadelphia
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
       Sumter
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
      Kendall
       Harris
       Harris
       Harris
       Harris
       Harris
       Harris
       Harris
       Harris
       Harris
       Harris
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
       Dallas
        Comal
        Comal
        Comal
        Comal
        Comal
        Comal
        Comal
        Comal
        Comal
        Comal
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
        Bexar
       Austin
       Austin
       Austin
       Austin
       Austin
       Austin
       Austin
       Austin
       Austin
       Austin
     Williams
     Williams
     Williams
     Williams
     Williams
     Williams
     Williams
     Williams
     Williams
     Williams
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
   Bernalillo
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
        Clark
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
       Washoe
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
      NewYork
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Clackamas
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    Multnomah
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
    MiamiDade
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       ElPaso
       Denver
       Denver
       Denver
       Denver
       Denver
       Denver
       Denver
       Denver
       Denver
       Denver

In [98]:
means = df3[["Population", "Median Income", "Home Ownwership (%)", "Building Permits", "County"]].groupby(["County"]).mean()
means

              Population  Median Income  Home Ownwership (%)  Building Permits
County
Ada             432914.7       58786.80            70.162929           4095.20
Austin           29199.5       56394.20            75.498730             24.50
Bernalillo      674939.3       49015.40            65.669691           1338.00
Bexar          1871048.2       51704.70            63.207634           6346.70
Clackamas       397259.1       69774.30            72.515639           1592.20
Clark          1271761.6       59185.05            61.089770           6423.35
Comal           128634.2       69698.20            76.233580           2073.70
Cook           5215707.1       57426.50            61.166096           7005.40
Dallas         2527585.4       52423.70            55.181565          14945.90
Denver          670090.6       57690.50            53.204293           6279.90
ElPaso          672354.6       60759.80            65.846269           3842.90
Harris         4459265.7       55305.00            59.268408          28194.70
Kendall          39790.1       80067.40            76.068506            306.90
King           2103370.6       80560.60            47.943287          14201.30
LosAngeles    10007550.7       59386.40            49.416158          16995.70
Maricopa       4140303.1       56949.40            62.701356          19346.80
MiamiDade      2636915.9       45289.10            57.448106           8313.60
Multnomah       781521.0       58159.80            58.277892           4328.90
NewYork        1623910.5       75676.20            22.244906           4597.10
Orange         3121421.7       79533.60            58.047737           8158.90
Philadelphia   1563971.9       39723.70            56.602620           2953.40
Pierce          845731.9       63452.70            63.943071           3506.50
Pima           1010044.3       47862.50            64.174930           3186.80
Riverside      2335696.3       59099.40            65.950540           6392.70
SaltLake       1098216.9       65473.40            70.465530           5817.30
SanDiego       3245371.5       68283.00            54.395397           7883.40
Snohomish       766505.5       74681.30            68.985621           3594.40
Sumter          113827.5       52923.30            88.067927           2415.90
Tarrant        1965530.4       59992.50            64.770019          10123.00
Travis         1159763.2       64969.40            56.072487          13421.90
Utah            572974.5       65191.00            71.114670           4550.30
Wasatch          28633.5       71866.50            73.412060            438.30
Washington      568611.5       71185.40            63.407008           2563.10
Washoe          442538.8       56921.00            59.281931           2652.00
Williams         31146.6       78973.70            69.065198            912.10