In [90]:
#Import Depencies
import pandas as pd

In [91]:
#Load Datasets
popn_df = pd.read_csv("Resource/County_Popn.csv")
ownership_df = pd.read_csv("Resource/Home_Ownership_Rate.csv")
permits_df = pd.read_csv("Resource/Building_Permits.csv")
income_df = pd.read_csv("Resource/Median_Income.csv")

In [92]:
#visualize population data
popn_df.head()

         CountyID      County State  Year  Population
0  LosAngeles2010  LosAngeles    CA  2010     9823246
1  LosAngeles2011  LosAngeles    CA  2011     9876482
2  LosAngeles2012  LosAngeles    CA  2012     9935375
3  LosAngeles2013  LosAngeles    CA  2013     9992484
4  LosAngeles2014  LosAngeles    CA  2014    10040072

In [93]:
#visualize home ownership rate data
ownership_df

,Year,CountyID,State,County,Home Ownwership (%),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2009,SanBernadino2009,CA,SanBernadino,66.202910,NaN,NaN,NaN,NaN
1,2010,SanBernadino2010,CA,SanBernadino,65.781009,NaN,NaN,NaN,NaN
2,2011,SanBernadino2011,CA,SanBernadino,64.507581,NaN,NaN,NaN,NaN
3,2012,SanBernadino2012,CA,SanBernadino,63.054234,NaN,NaN,NaN,NaN
4,2013,SanBernadino2013,CA,SanBernadino,62.013965,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
424,2015,Clark2015,WA,Clark,65.333318,NaN,NaN,NaN,NaN
425,2016,Clark2016,WA,Clark,66.002403,NaN,NaN,NaN,NaN
426,2017,Clark2017,WA,Clark,67.120738,NaN,NaN,NaN,NaN
427,2018,Clark2018,WA,Clark,67.816583,NaN,NaN,NaN,NaN
428,2019,Clark2019,WA,Clark,68.346262,NaN,NaN,NaN,NaN

In [94]:
# drop NaN columns in home ownership data
ownership_df = ownership_df.drop(columns=["Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8"])
ownership_df.head(15)

    Year          CountyID State        County  Home Ownwership (%)
0   2009  SanBernadino2009    CA  SanBernadino            66.202910
1   2010  SanBernadino2010    CA  SanBernadino            65.781009
2   2011  SanBernadino2011    CA  SanBernadino            64.507581
3   2012  SanBernadino2012    CA  SanBernadino            63.054234
4   2013  SanBernadino2013    CA  SanBernadino            62.013965
5   2014  SanBernadino2014    CA  SanBernadino            60.774173
6   2015  SanBernadino2015    CA  SanBernadino            59.681057
7   2016  SanBernadino2016    CA  SanBernadino            59.115612
8   2017  SanBernadino2017    CA  SanBernadino            59.352297
9   2018  SanBernadino2018    CA  SanBernadino            59.317247
10  2019  SanBernadino2019    CA  SanBernadino            60.020610
11  2009     Riverside2009    CA     Riverside            70.608002
12  2010     Riverside2010    CA     Riverside            69.838175
13  2011     Riverside2011    CA     Riverside            68.803423
14  2012     Riverside2012    CA     Riverside            66.894993

In [95]:
permits_df.head()

   Year    CountyID State  County  Building Permits
0  1990  Sumter1990    FL  Sumter               156
1  1991  Sumter1991    FL  Sumter               242
2  1992  Sumter1992    FL  Sumter               143
3  1993  Sumter1993    FL  Sumter               497
4  1994  Sumter1994    FL  Sumter               703

In [60]:
income_df.head()

   Year      CountyID State    County Median Income
0  1989  Maricopa1989    AZ  Maricopa         30746
1  1990  Maricopa1990    AZ  Maricopa             .
2  1991  Maricopa1991    AZ  Maricopa             .
3  1992  Maricopa1992    AZ  Maricopa             .
4  1993  Maricopa1993    AZ  Maricopa         33916

In [61]:
# drop the duplicate columns before merging
popn_df = popn_df.drop(columns=["County", "State", "Year"])

#  first merge population to homeownership rate
df1 = pd.merge(ownership_df, popn_df, on="CountyID", how="inner")

df1

     Year       CountyID State     County  Home Ownwership (%)  Population
0    2010  Riverside2010    CA  Riverside            69.838175     2201576
1    2011  Riverside2011    CA  Riverside            68.803423     2234070
2    2012  Riverside2012    CA  Riverside            66.894993     2261204
3    2013  Riverside2013    CA  Riverside            65.615337     2286755
4    2014  Riverside2014    CA  Riverside            64.647449     2316162
..    ...            ...   ...        ...                  ...         ...
395  2015     Denver2015    CO     Denver            51.973437      683285
396  2016     Denver2016    CO     Denver            51.905958      696159
397  2017     Denver2017    CO     Denver            52.950281      704961
398  2018     Denver2018    CO     Denver            52.867510      716265
399  2019     Denver2019    CO     Denver            53.749423      727211

[400 rows x 6 columns]

In [62]:
# drop the duplicate columns before merging
permits_df = permits_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the permits data
df2 = pd.merge(df1, permits_df, on="CountyID", how="inner")

df2

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761
...,...,...,...,...,...,...,...
435,2015,Denver2015,CO,Denver,51.973437,683285,7901
436,2016,Denver2016,CO,Denver,51.905958,696159,7842
437,2017,Denver2017,CO,Denver,52.950281,704961,10525
438,2018,Denver2018,CO,Denver,52.867510,716265,7878
439,2019,Denver2019,CO,Denver,53.749423,727211,7330

In [104]:
# drop the duplicate columns before merging
income_df = income_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the income data
df3 = pd.merge(df2, income_df, on="CountyID", how="inner")

df3.head()

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits,Median Income
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547,53981
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264,52491
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052,52416
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924,53909
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761,56877

In [105]:
df3.tail()

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits,Median Income
505,2015,Denver2015,CO,Denver,51.973437,683285,7901,57886
506,2016,Denver2016,CO,Denver,51.905958,696159,7842,61038
507,2017,Denver2017,CO,Denver,52.950281,704961,10525,64974
508,2018,Denver2018,CO,Denver,52.867510,716265,7878,68069
509,2019,Denver2019,CO,Denver,53.749423,727211,7330,75456

In [50]:
# Check count
df3.count()

Year                   510
CountyID               510
State                  510
County                 510
Home Ownwership (%)    510
Population             510
Building Permits       510
Median Income          510
dtype: int64

In [51]:
# Check datatypes
df3.dtypes

Year                     int64
CountyID                object
State                   object
County                  object
Home Ownwership (%)    float64
Population               int64
Building Permits         int64
Median Income           object
dtype: object

In [67]:
# convert the median income data to numeric data
df3["Median Income"] = pd.to_numeric(df3["Median Income"])
df3.dtypes

Year                     int64
CountyID                object
State                   object
County                  object
Home Ownwership (%)    float64
Population               int64
Building Permits         int64
Median Income            int64
dtype: object

In [111]:
print(f"Below are the counties I currently have data on")
print(f"------------------------------------------------------")
df3.County.unique()

Below are the counties I currently have data on
------------------------------------------------------

array(['Riverside', 'SanDiego', 'Orange', 'Maricopa', 'Pima',
       'LosAngeles', 'King', 'Pierce', 'Snohomish', 'Ada', 'Cook',
       'Tarrant', 'Washington', 'Travis', 'SaltLake', 'Utah', 'Wasatch',
       'Philadelphia', 'Sumter', 'Kendall', 'Harris', 'Dallas', 'Comal',
       'Bexar', 'Austin', 'Williams', 'Bernalillo', 'Clark', 'Washoe',
       'NewYork', 'Clackamas', 'Multnomah', 'MiamiDade', 'ElPaso',
       'Denver'], dtype=object)

In [98]:
means = df3[["Population", "Median Income", "Home Ownwership (%)", "Building Permits", "County"]].groupby(["County"]).mean()
means

              Population  Median Income  Home Ownwership (%)  Building Permits
County
Ada             432914.7       58786.80            70.162929           4095.20
Austin           29199.5       56394.20            75.498730             24.50
Bernalillo      674939.3       49015.40            65.669691           1338.00
Bexar          1871048.2       51704.70            63.207634           6346.70
Clackamas       397259.1       69774.30            72.515639           1592.20
Clark          1271761.6       59185.05            61.089770           6423.35
Comal           128634.2       69698.20            76.233580           2073.70
Cook           5215707.1       57426.50            61.166096           7005.40
Dallas         2527585.4       52423.70            55.181565          14945.90
Denver          670090.6       57690.50            53.204293           6279.90
ElPaso          672354.6       60759.80            65.846269           3842.90
Harris         4459265.7       55305.00            59.268408          28194.70
Kendall          39790.1       80067.40            76.068506            306.90
King           2103370.6       80560.60            47.943287          14201.30
LosAngeles    10007550.7       59386.40            49.416158          16995.70
Maricopa       4140303.1       56949.40            62.701356          19346.80
MiamiDade      2636915.9       45289.10            57.448106           8313.60
Multnomah       781521.0       58159.80            58.277892           4328.90
NewYork        1623910.5       75676.20            22.244906           4597.10
Orange         3121421.7       79533.60            58.047737           8158.90
Philadelphia   1563971.9       39723.70            56.602620           2953.40
Pierce          845731.9       63452.70            63.943071           3506.50
Pima           1010044.3       47862.50            64.174930           3186.80
Riverside      2335696.3       59099.40            65.950540           6392.70
SaltLake       1098216.9       65473.40            70.465530           5817.30
SanDiego       3245371.5       68283.00            54.395397           7883.40
Snohomish       766505.5       74681.30            68.985621           3594.40
Sumter          113827.5       52923.30            88.067927           2415.90
Tarrant        1965530.4       59992.50            64.770019          10123.00
Travis         1159763.2       64969.40            56.072487          13421.90
Utah            572974.5       65191.00            71.114670           4550.30
Wasatch          28633.5       71866.50            73.412060            438.30
Washington      568611.5       71185.40            63.407008           2563.10
Washoe          442538.8       56921.00            59.281931           2652.00
Williams         31146.6       78973.70            69.065198            912.10

In [112]:
count = df3[["Population", "Median Income", "Home Ownwership (%)", "Building Permits", "County"]].groupby(["County"]).count()
count

              Population  Median Income  Home Ownwership (%)  Building Permits
County
Ada                   10             10                   10                10
Austin                10             10                   10                10
Bernalillo            10             10                   10                10
Bexar                 10             10                   10                10
Clackamas             10             10                   10                10
Clark                160            160                  160               160
Comal                 10             10                   10                10
Cook                  10             10                   10                10
Dallas                10             10                   10                10
Denver                10             10                   10                10
ElPaso                10             10                   10                10
Harris                10             10                   10                10
Kendall               10             10                   10                10
King                  20             20                   20                20
LosAngeles            10             10                   10                10
Maricopa              10             10                   10                10
MiamiDade             10             10                   10                10
Multnomah             10             10                   10                10
NewYork               10             10                   10                10
Orange                10             10                   10                10
Philadelphia          10             10                   10                10
Pierce                10             10                   10                10
Pima                  10             10                   10                10
Riverside             10             10                   10                10
SaltLake              10             10                   10                10
SanDiego              10             10                   10                10
Snohomish             10             10                   10                10
Sumter                10             10                   10                10
Tarrant               10             10                   10                10
Travis                10             10                   10                10
Utah                  10             10                   10                10
Wasatch               10             10                   10                10
Washington            10             10                   10                10
Washoe                10             10                   10                10
Williams              10             10                   10                10