In [311]:
import requests
import pandas as pd 
from api import census 
from pprint import pprint

In [ ]:
https://api.census.gov/data/2019/acs/acs5?get=NAME,B01001_001E&for=county:051&in=state:49

In [191]:
b = "https://api.census.gov/data/2019/acs/acs5"#?&for=county:051&in=state:49"

In [ ]:
,B25004_001E,B25002_003E,B25003_003E,B25003_002E,B25004_002E,B25004_004E,B25005_001E

In [312]:
base_urls=["https://api.census.gov/data/2010/acs/acs5","https://api.census.gov/data/2011/acs/acs5",
"https://api.census.gov/data/2012/acs/acs5","https://api.census.gov/data/2013/acs/acs5",
"https://api.census.gov/data/2014/acs/acs5","https://api.census.gov/data/2015/acs/acs5",
"https://api.census.gov/data/2016/acs/acs5","https://api.census.gov/data/2017/acs/acs5",
"https://api.census.gov/data/2018/acs/acs5","https://api.census.gov/data/2019/acs/acs5"]

In [309]:
for urls in base_urls : 
    print(urls)

https://api.census.gov/data/2010/acs/acs5
https://api.census.gov/data/2011/acs/acs5
https://api.census.gov/data/2012/acs/acs5
https://api.census.gov/data/2013/acs/acs5
https://api.census.gov/data/2014/acs/acs5
https://api.census.gov/data/2015/acs/acs5
https://api.census.gov/data/2016/acs/acs5
https://api.census.gov/data/2017/acs/acs5
https://api.census.gov/data/2018/acs/acs5
https://api.census.gov/data/2019/acs/acs5

In [313]:
params=[{'in':'state:49','for':'county:051','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:49','for':'county:053','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:49','for':'county:029','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:49','for':'county:045','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:49','for':'county:049','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:48','for':'county:301','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:48','for':'county:209','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:48','for':'county:091','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:48','for':'county:259','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:48','for':'county:229','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:08','for':'county:123','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:08','for':'county:014','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:08','for':'county:035','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:08','for':'county:031','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:08','for':'county:027','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:12','for':'county:119','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:12','for':'county:097','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:12','for':'county:109','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:12','for':'county:131','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:12','for':'county:081','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:32','for':'county:003','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:32','for':'county:031','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:32','for':'county:009','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:32','for':'county:019','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:32','for':'county:007','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:16','for':'county:001','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:16','for':'county:027','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:16','for':'county:055','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:16','for':'county:081','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:16','for':'county:085','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:04','for':'county:021','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:04','for':'county:013','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:04','for':'county:011','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:04','for':'county:025','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:04','for':'county:027','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:38','for':'county:053','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:38','for':'county:105','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:38','for':'county:061','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:38','for':'county:089','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:38','for':'county:025','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:53','for':'county:021','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:53','for':'county:037','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:53','for':'county:005','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:53','for':'county:033','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census},
       {'in':'state:53','for':'county:061','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census}]

In [314]:
year = []
state=[]
totalhousing = []
totalvacancy =[]
totalrenteroccupied = []
owneroccupied = []
forrent = []
forsale = []
county = []

In [211]:
ds="https://api.census.gov/data/2012/acs/acs5"

In [315]:
for url in base_urls : 
    for x in params : 
        house = requests.get(url,params=x).json()
        
        try : 
            county.append(house[1][0].split(",")[0])
            totalhousing.append(house[1][1])
            totalvacancy.append(house[1][2])
            totalrenteroccupied.append(house[1][3])
            owneroccupied.append(house[1][4])
            forrent.append(house[1][5])
            forsale.append(house[1][6])
            state.append(house[1][0].split(",")[1])
            year.append(url.split("/")[4])
        except : 
            print('woops')
       # print(x)

In [316]:
totalhousing

['9983',
 '55877',
 '2898',
 '18822',
 '142770',
 '64',
 '55188',
 '45099',
 '13508',
 '1534',
 '94434',
 '21394',
 '103249',
 '281296',
 '3705',
 '48273',
 '122823',
 '86673',
 '43771',
 '170719',
 '812840',
 '181716',
 '906',
 '21481',
 '19492',
 '155754',
 '67649',
 '61173',
 '4973',
 '11246',
 '149501',
 '1596165',
 '4190',
 '108244',
 '86984',
 '3019',
 '10184',
 '3949',
 '10528',
 '2117',
 '23408',
 '21040',
 '66897',
 '835564',
 '281161',
 '10346',
 '57016',
 '2959',
 '19229',
 '146301',
 '71',
 '57591',
 '46304',
 '13848',
 '1403',
 '95601',
 '22077',
 '105495',
 '283658',
 '3756',
 '51047',
 '126290',
 '88573',
 '44613',
 '172018',
 '829544',
 '183531',
 '918',
 '22146',
 '19516',
 '158081',
 '68796',
 '62369',
 '5265',
 '11580',
 '155504',
 '1620963',
 '4287',
 '109634',
 '87549',
 '3069',
 '10347',
 '4041',
 '10638',
 '2107',
 '24031',
 '21533',
 '67902',
 '844169',
 '284480',
 '10619',
 '57996',
 '3013',
 '19496',
 '148683',
 '70',
 '59870',
 '47288',
 '14091',
 '1533',
 '96351',
 '22552',
 '106829',
 '285495',
 '4177',
 '53387',
 '127764',
 '89990',
 '45064',
 '172901',
 '838894',
 '184432',
 '928',
 '22286',
 '19624',
 '159535',
 '69299',
 '63146',
 '5422',
 '11696',
 '158891',
 '1636502',
 '4345',
 '110317',
 '88064',
 '3125',
 '10884',
 '4140',
 '10878',
 '2201',
 '24585',
 '21803',
 '68896',
 '851180',
 '286836',
 '10824',
 '58693',
 '3074',
 '19676',
 '150377',
 '63',
 '62205',
 '48052',
 '14271',
 '1523',
 '96879',
 '23211',
 '108278',
 '287735',
 '4159',
 '55667',
 '128867',
 '91199',
 '45482',
 '173444',
 '844979',
 '184882',
 '913',
 '22352',
 '19712',
 '160861',
 '69597',
 '63692',
 '5462',
 '11769',
 '160903',
 '1648392',
 '4381',
 '110838',
 '88505',
 '3227',
 '11844',
 '4260',
 '11379',
 '2257',
 '25063',
 '21968',
 '69638',
 '856720',
 '288797',
 '11058',
 '59797',
 '3136',
 '19925',
 '152545',
 '64',
 '64881',
 '49095',
 '14519',
 '1527',
 '97904',
 '23897',
 '109835',
 '290624',
 '4512',
 '58511',
 '130448',
 '92936',
 '46181',
 '175211',
 '851131',
 '185685',
 '939',
 '22444',
 '19939',
 '162766',
 '70129',
 '64525',
 '5496',
 '11825',
 '162412',
 '1657753',
 '4395',
 '111291',
 '88823',
 '3373',
 '13063',
 '4418',
 '12000',
 '2292',
 '25603',
 '22188',
 '70606',
 '863745',
 '291658',
 '11352',
 '61026',
 '3200',
 '20148',
 '155425',
 '73',
 '67463',
 '50288',
 '14754',
 '1533',
 '99226',
 '24710',
 '115068',
 '294191',
 '4323',
 '61171',
 '132185',
 '94826',
 '46918',
 '177046',
 '857131',
 '186481',
 '1003',
 '22419',
 '20192',
 '164992',
 '70720',
 '65272',
 '5498',
 '11868',
 '163490',
 '1668555',
 '4399',
 '111731',
 '89330',
 '3944',
 '14683',
 '4576',
 '12741',
 '2404',
 '26029',
 '22364',
 '71473',
 '871836',
 '294147',
 '11710',
 '62393',
 '3294',
 '20425',
 '158690',
 '64',
 '70192',
 '51631',
 '14983',
 '1531',
 '100935',
 '25543',
 '118178',
 '299338',
 '4245',
 '63694',
 '135085',
 '97065',
 '47821',
 '179365',
 '864164',
 '187716',
 '969',
 '22427',
 '20425',
 '167739',
 '71441',
 '66126',
 '5512',
 '11920',
 '166455',
 '1680412',
 '4424',
 '112854',
 '90071',
 '4622',
 '16337',
 '4722',
 '13412',
 '2450',
 '26386',
 '22539',
 '72262',
 '882655',
 '297178',
 '12194',
 '64509',
 '3405',
 '20985',
 '163289',
 '59',
 '73347',
 '53692',
 '15406',
 '1559',
 '104147',
 '26909',
 '118044',
 '306714',
 '4394',
 '66983',
 '139796',
 '100322',
 '49446',
 '183774',
 '877617',
 '191068',
 '992',
 '22979',
 '21075',
 '172399',
 '73265',
 '67941',
 '5610',
 '12097',
 '168786',
 '1699628',
 '4445',
 '113915',
 '90931',
 '5320',
 '17790',
 '4903',
 '14090',
 '2523',
 '27103',
 '23062',
 '74009',
 '902107',
 '302725',
 '12715',
 '66604',
 '3492',
 '21417',
 '168597',
 '70',
 '76193',
 '55849',
 '15758',
 '1562',
 '106198',
 '27647',
 '121541',
 '314045',
 '4464',
 '69130',
 '144054',
 '103522',
 '50699',
 '187302',
 '888556',
 '193956',
 '949',
 '23170',
 '21350',
 '176693',
 '74650',
 '69325',
 '5707',
 '12228',
 '171368',
 '1719157',
 '4435',
 '115213',
 '91685',
 '5976',
 '18726',
 '4999',
 '14422',
 '2530',
 '27571',
 '23393',
 '75108',
 '917904',
 '306420',
 '13221',
 '68789',
 '3574',
 '21959',
 '174162',
 '66',
 '78715',
 '58181',
 '16089',
 '1579',
 '109170',
 '28374',
 '124771',
 '321717',
 '4408',
 '70800',
 '149427',
 '107258',
 '51996',
 '191000',
 '899870',
 '197371',
 '950',
 '23420',
 '21579',
 '181533',
 '76247',
 '70892',
 '5833',
 '12373',
 '174329',
 '1740694',
 '4453',
 '116842',
 '92625',
 '6643',
 '19322',
 '5205',
 '14706',
 '2621',
 '28063',
 '23801',
 '76241',
 '935471',
 '310127']

In [317]:
housing_df = pd.DataFrame({'Year': year})

In [318]:
housing_df['State']= state

In [319]:
housing_df['Total Housing'] = totalhousing
housing_df['Total Vacancies'] = totalvacancy
housing_df['Total Renter Occupied'] = totalrenteroccupied
housing_df['Owner Occupied'] = owneroccupied
housing_df['For Rent']= forrent
housing_df['For Sale']=forsale

In [320]:
housing_df['County'] = county

In [321]:
housing_df

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,County
0,2010,Utah,9983,2829,1578,5576,92,138,Wasatch County
1,2010,Utah,55877,9982,13354,32541,659,1247,Washington County
2,2010,Utah,2898,184,320,2394,0,37,Morgan County
3,2010,Utah,18822,1104,4331,13387,235,121,Tooele County
4,2010,Utah,142770,7150,41478,94142,1733,1720,Utah County
...,...,...,...,...,...,...,...,...,...
445,2019,Washington,28063,1340,8428,18295,234,160,Franklin County
446,2019,Washington,23801,5454,7498,10849,502,128,Kittitas County
447,2019,Washington,76241,4120,22484,49637,1232,319,Benton County
448,2019,Washington,935471,53443,379735,502293,12956,5179,King County
449,2019,Washington,310127,16304,96687,197136,3876,1617,Snohomish County

In [322]:
housing_csv = "Resource/housing_csv.csv"
housing_df.to_csv(housing_csv)

In [323]:
housing = pd.read_csv("Resource/housing_csv.csv")
housing.head()

,Unnamed: 0,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,County
0,0,2010,Utah,9983,2829,1578,5576,92,138,Wasatch County
1,1,2010,Utah,55877,9982,13354,32541,659,1247,Washington County
2,2,2010,Utah,2898,184,320,2394,0,37,Morgan County
3,3,2010,Utah,18822,1104,4331,13387,235,121,Tooele County
4,4,2010,Utah,142770,7150,41478,94142,1733,1720,Utah County

In [324]:
housing=housing.drop(columns="Unnamed: 0")

In [325]:
housing.head()

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,County
0,2010,Utah,9983,2829,1578,5576,92,138,Wasatch County
1,2010,Utah,55877,9982,13354,32541,659,1247,Washington County
2,2010,Utah,2898,184,320,2394,0,37,Morgan County
3,2010,Utah,18822,1104,4331,13387,235,121,Tooele County
4,2010,Utah,142770,7150,41478,94142,1733,1720,Utah County

In [326]:
housing_sorted = housing.sort_values(by = ["County","Year"],axis = 0)

In [327]:
housing_sorted

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,County
25,2010,Idaho,155754,10170,44200,101384,2958,3006,Ada County
70,2011,Idaho,158081,10328,45806,101947,2807,3021,Ada County
115,2012,Idaho,159535,9651,47844,102040,2719,2810,Ada County
160,2013,Idaho,160861,9261,48321,103279,2531,2402,Ada County
205,2014,Idaho,162766,8358,50463,103945,2073,2098,Ada County
...,...,...,...,...,...,...,...,...,...
259,2015,Arizona,89330,18691,22558,48081,2166,1092,Yuma County
304,2016,Arizona,90071,19147,23098,47826,2164,1112,Yuma County
349,2017,Arizona,90931,19261,23289,48381,2012,1203,Yuma County
394,2018,Arizona,91685,19222,23851,48612,1911,1212,Yuma County
439,2019,Arizona,92625,19527,24050,49048,1653,907,Yuma County

In [328]:
housing_sortcsv = "Resource/housing_sortedcsv.csv"
housing_df.to_csv(housing_sortcsv)