In [21]:
#Import Depencies
import pandas as pd

In [22]:
#Load Datasets
popn_df = pd.read_csv("Resource/County_Popn.csv")
ownership_df = pd.read_csv("Resource/Home_Ownership_Rate.csv")
permits_df = pd.read_csv("Resource/Building_Permits.csv")
income_df = pd.read_csv("Resource/Median_Income.csv")

In [23]:
#visualize population data
popn_df.head()

         CountyID      County State  Year  Population
0  LosAngeles2010  LosAngeles    CA  2010     9823246
1  LosAngeles2011  LosAngeles    CA  2011     9876482
2  LosAngeles2012  LosAngeles    CA  2012     9935375
3  LosAngeles2013  LosAngeles    CA  2013     9992484
4  LosAngeles2014  LosAngeles    CA  2014    10040072

In [24]:
#visualize home ownership rate data
ownership_df

,Year,CountyID,State,County,Home Ownwership (%),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2009,SanBernadino2009,CA,SanBernadino,66.202910,NaN,NaN,NaN,NaN
1,2010,SanBernadino2010,CA,SanBernadino,65.781009,NaN,NaN,NaN,NaN
2,2011,SanBernadino2011,CA,SanBernadino,64.507581,NaN,NaN,NaN,NaN
3,2012,SanBernadino2012,CA,SanBernadino,63.054234,NaN,NaN,NaN,NaN
4,2013,SanBernadino2013,CA,SanBernadino,62.013965,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
424,2015,Clark2015,WA,Clark,65.333318,NaN,NaN,NaN,NaN
425,2016,Clark2016,WA,Clark,66.002403,NaN,NaN,NaN,NaN
426,2017,Clark2017,WA,Clark,67.120738,NaN,NaN,NaN,NaN
427,2018,Clark2018,WA,Clark,67.816583,NaN,NaN,NaN,NaN
428,2019,Clark2019,WA,Clark,68.346262,NaN,NaN,NaN,NaN

In [25]:
# drop NaN columns in home ownership data
ownership_df = ownership_df.drop(columns=["Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8"])
ownership_df.head()

   Year          CountyID State        County  Home Ownwership (%)
0  2009  SanBernadino2009    CA  SanBernadino            66.202910
1  2010  SanBernadino2010    CA  SanBernadino            65.781009
2  2011  SanBernadino2011    CA  SanBernadino            64.507581
3  2012  SanBernadino2012    CA  SanBernadino            63.054234
4  2013  SanBernadino2013    CA  SanBernadino            62.013965

In [26]:
permits_df.head()

   Year    CountyID State  County  Building Permits
0  1990  Sumter1990    FL  Sumter               156
1  1991  Sumter1991    FL  Sumter               242
2  1992  Sumter1992    FL  Sumter               143
3  1993  Sumter1993    FL  Sumter               497
4  1994  Sumter1994    FL  Sumter               703

In [27]:
income_df.head()

   Year      CountyID State    County Median Income
0  1989  Maricopa1989    AZ  Maricopa         30746
1  1990  Maricopa1990    AZ  Maricopa             .
2  1991  Maricopa1991    AZ  Maricopa             .
3  1992  Maricopa1992    AZ  Maricopa             .
4  1993  Maricopa1993    AZ  Maricopa         33916

In [47]:
# drop the duplicate columns before merging
popn_df = popn_df.drop(columns=["County", "State", "Year"])

#  first merge population to homeownership rate
df1 = pd.merge(ownership_df, popn_df, on="CountyID", how="inner")

df1

     Year       CountyID State     County  Home Ownwership (%)  Population
0    2010  Riverside2010    CA  Riverside            69.838175     2201576
1    2011  Riverside2011    CA  Riverside            68.803423     2234070
2    2012  Riverside2012    CA  Riverside            66.894993     2261204
3    2013  Riverside2013    CA  Riverside            65.615337     2286755
4    2014  Riverside2014    CA  Riverside            64.647449     2316162
..    ...            ...   ...        ...                  ...         ...
395  2015     Denver2015    CO     Denver            51.973437      683285
396  2016     Denver2016    CO     Denver            51.905958      696159
397  2017     Denver2017    CO     Denver            52.950281      704961
398  2018     Denver2018    CO     Denver            52.867510      716265
399  2019     Denver2019    CO     Denver            53.749423      727211

[400 rows x 6 columns]

In [48]:
# drop the duplicate columns before merging
permits_df = permits_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the permits data
df2 = pd.merge(df1, permits_df, on="CountyID", how="inner")

df2

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761
...,...,...,...,...,...,...,...
435,2015,Denver2015,CO,Denver,51.973437,683285,7901
436,2016,Denver2016,CO,Denver,51.905958,696159,7842
437,2017,Denver2017,CO,Denver,52.950281,704961,10525
438,2018,Denver2018,CO,Denver,52.867510,716265,7878
439,2019,Denver2019,CO,Denver,53.749423,727211,7330

In [49]:
# drop the duplicate columns before merging
income_df = income_df.drop(columns=["County", "State", "Year"])

# Then merge the result with the income data
df3 = pd.merge(df2, income_df, on="CountyID", how="inner")

df3

,Year,CountyID,State,County,Home Ownwership (%),Population,Building Permits,Median Income
0,2010,Riverside2010,CA,Riverside,69.838175,2201576,4547,53981
1,2011,Riverside2011,CA,Riverside,68.803423,2234070,3264,52491
2,2012,Riverside2012,CA,Riverside,66.894993,2261204,4052,52416
3,2013,Riverside2013,CA,Riverside,65.615337,2286755,5924,53909
4,2014,Riverside2014,CA,Riverside,64.647449,2316162,6761,56877
...,...,...,...,...,...,...,...,...
505,2015,Denver2015,CO,Denver,51.973437,683285,7901,57886
506,2016,Denver2016,CO,Denver,51.905958,696159,7842,61038
507,2017,Denver2017,CO,Denver,52.950281,704961,10525,64974
508,2018,Denver2018,CO,Denver,52.867510,716265,7878,68069
509,2019,Denver2019,CO,Denver,53.749423,727211,7330,75456

In [50]:
# Check count
df3.count()

Year                   510
CountyID               510
State                  510
County                 510
Home Ownwership (%)    510
Population             510
Building Permits       510
Median Income          510
dtype: int64

In [51]:
# Check datatypes
df3.dtypes

Year                     int64
CountyID                object
State                   object
County                  object
Home Ownwership (%)    float64
Population               int64
Building Permits         int64
Median Income           object
dtype: object