In [12]:
import requests
import pandas as pd 
from api import census

In [23]:
base = "https://api.census.gov/data/2010/acs/acs1/profile?&for=county:051&in=state:41"

In [24]:
params={'get' : 'NAME,DP02_0001E',
       'key' : census}

In [25]:
reginald = requests.get(base,params=params).json()

In [26]:
reginald

[['NAME', 'DP02_0001E', 'state', 'county'],
 ['Multnomah County, Oregon', '302060', '41', '051']]

In [27]:
reginald[1][1]

'302060'

In [78]:
base_yrs=["https://api.census.gov/data/2010/acs/acs1/profile?&for=county:051&in=state:41","https://api.census.gov/data/2011/acs/acs1/profile?&for=county:051&in=state:41",
         "https://api.census.gov/data/2012/acs/acs1/profile?&for=county:051&in=state:41","https://api.census.gov/data/2013/acs/acs1/profile?&for=county:051&in=state:41",
         "https://api.census.gov/data/2014/acs/acs1/profile?&for=county:051&in=state:41","https://api.census.gov/data/2015/acs/acs1/profile?&for=county:051&in=state:41",
         "https://api.census.gov/data/2016/acs/acs1/profile?&for=county:051&in=state:41","https://api.census.gov/data/2017/acs/acs1/profile?&for=county:051&in=state:41",
         "https://api.census.gov/data/2018/acs/acs1/profile?&for=county:051&in=state:41","https://api.census.gov/data/2019/acs/acs1/profile?&for=county:051&in=state:41"]

In [79]:
total_housingunits=[]
for url in base_yrs : 
    params = {'get' : 'NAME,DP04_0001E',
       'key' : census}
    reggie = requests.get(url,params=params).json() 
    total_housingunits.append(reggie[1][1])

In [80]:
years = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']
house = pd.DataFrame({'Years' : years})

In [81]:
house=house.set_index('Years')

In [82]:
house['Total Housing Units']= total_housingunits

In [83]:
house

      Total Housing Units
Years
2010               324927
2011               326207
2012               325785
2013               326882
2014               330804
2015               336260
2016               340316
2017               347114
2018               353878
2019               359802