In [81]:
#Dependencies 
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [82]:
#Load Population Data set into pandas
Population_Data = pd.read_csv("../Resource/US_Population_Estimates_2010_2019.csv")
Population_Data.head()

,County,State,Census (4/1/2010),Estimate Base (4/1/2010),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Autauga County,Alabama,54571,54597,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
1,Baldwin County,Alabama,182265,182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
2,Barbour County,Alabama,27457,27455,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
3,Bibb County,Alabama,22915,22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
4,Blount County,Alabama,57322,57322,57376,57560,57580,57619,57526,57526,57494,57787,57771,57826

In [83]:
#Identify Incomplete Rows
Population_Data.count()

County                      3142
State                       3142
Census (4/1/2010)           3142
Estimate Base (4/1/2010)    3142
2010                        3142
2011                        3142
2012                        3142
2013                        3142
2014                        3142
2015                        3142
2016                        3142
2017                        3142
2018                        3142
2019                        3142
dtype: int64

In [100]:
#Consolidate the data to State level totals for each year
State_Population_Data = Population_Data.groupby(['State']).sum()
State_Population_Data.head()

,Census (4/1/2010),Estimate Base (4/1/2010),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
State,,,,,,,,,,,,
Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,710231,710249,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,2915918,2916031,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,37253956,37254519,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

In [116]:
#Calculate the % difference and add to DF with format
Pct_Growth = (((State_Population_Data['2019']) - State_Population_Data['Estimate Base (4/1/2010)'])/State_Population_Data['Estimate Base (4/1/2010)']) * 100
State_Population_Data["Pct Growth"] = Pct_Growth

#Sort DF by highest Pct of Growth
State_Population_Data.sort_values(by = ["Pct Growth"], inplace = True, ascending = False)

#Add formatting to the Pct Growth
State_Population_Data["Pct Growth"] = State_Population_Data["Pct Growth"].map('{:.2f}%'.format)

State_Population_Data.head(10)

,Census (4/1/2010),Estimate Base (4/1/2010),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Pct Growth
State,,,,,,,,,,,,,
District of Columbia,601723,601767,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,17.28%
Utah,2763885,2763891,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958,15.99%
Texas,25145561,25146091,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881,15.31%
Colorado,5029196,5029319,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736,14.50%
Florida,18801310,18804564,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737,14.22%
Nevada,2700551,2700677,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156,14.05%
Idaho,1567582,1567657,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065,14.00%
Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,13.87%
North Dakota,672591,672576,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062,13.30%
Washington,6724540,6724540,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893,13.24%

In [117]:
#New DataFrame of the Top 10 States for Pct Growth of Population
Top_10_State_Population = State_Population_Data.head(10)

Top_10_State_Population

,Census (4/1/2010),Estimate Base (4/1/2010),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Pct Growth
State,,,,,,,,,,,,,
District of Columbia,601723,601767,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,17.28%
Utah,2763885,2763891,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958,15.99%
Texas,25145561,25146091,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881,15.31%
Colorado,5029196,5029319,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736,14.50%
Florida,18801310,18804564,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737,14.22%
Nevada,2700551,2700677,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156,14.05%
Idaho,1567582,1567657,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065,14.00%
Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,13.87%
North Dakota,672591,672576,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062,13.30%
Washington,6724540,6724540,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893,13.24%

In [ ]:
# Placeholders to add charts/graphs for Growth over the years provided